@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');
// // -------------- fonts ------------------
// $font-family: sans-serif;
// ---------------- Colors ---------------
$primaryColor: rgb(238,
57,
51);
$bkColor: #141212;
// ---------------------------------------
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Mitr', sans-serif;
}

a {
    text-decoration: none;
    border-radius: 10px;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

p {
    color: #000;
    text-align: justify;
    font-size: 1.4rem;
    line-height: 1.9rem;
    margin-top: 5px;
    font-weight: 300;
    letter-spacing: .05rem;
    font-family: 'Poppins', 'Montserrat', sans-serif;
}

@mixin icons {
    color: #fff;
    font-size: 40px;
}

@mixin section-title($size:3.5rem) {
    font-size: $size;
    font-weight: 300;
    color: #000;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
    span {
        color: var(--primaryColor);
    }
}

@mixin cta ($size:2rem,
$p1:10px,
$p2:30px) {
    display: inline-block;
    padding: $p1 $p2;
    color: #fff;
    background-color: transparent;
    border: 2px solid $primaryColor;
    background-color: transparent;
    font-size: $size;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
    border-radius: 10px;
    &:hover {
        color: #fff;
        background-color: $primaryColor;
    }
}

@mixin container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin brand ($size:2.5rem) {
    h1 {
        font-size: $size;
        text-transform: uppercase;
        color: #fff;
        letter-spacing: .1rem;
        span {
            color: $primaryColor;
        }
    }
}

@mixin social-icon {
    font-size: 35px;
    color: #fff;
    opacity: .4;
    transition: .2s ease-in-out opacity;
    &:hover {
        opacity: 1;
    }
}

#header {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
    .header {
        @include container;
        min-height: 8vh;
        background-color: rgba(31, 30, 30, 0.24);
        transition: .3s ease background-color;
        padding: 0 20px;
        .nav-bar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 100%;
            max-width: 1300px;
            padding: 0 10px;
            .brand {
                @include brand;
            }
            .hamburger {
                height: 60px;
                width: 60px;
                z-index: 100;
                border: 3px solid #fff;
                border-radius: 50%;
                position: relative;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                display: flex;
                transform: scale(.8);
                margin-right: 20px;
                &::after {
                    position: absolute;
                    content: '';
                    height: 100%;
                    width: 100%;
                    border-radius: 50%;
                    border: 3px solid #fff;
                    animation: hamburger_plus 1s ease infinite;
                }
                .bar {
                    height: 2px;
                    width: 30px;
                    position: relative;
                    background-color: #fff;
                    z-index: -1;
                    &::after {
                        content: '';
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        left: 0;
                        background-color: #fff;
                        transition: .3s ease;
                        transition-property: top, bottom;
                        top: 8px;
                    }
                    &::before {
                        content: '';
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        left: 0;
                        background-color: #fff;
                        transition: .3s ease;
                        transition-property: top, bottom;
                        bottom: 8px;
                    }
                }
                &.active {
                    .bar {
                        &::before {
                            bottom: 0;
                        }
                        &::after {
                            top: 0;
                        }
                    }
                }
            }
            .nav-list {
                ul {
                    list-style: none;
                    position: absolute;
                    background-color: #000;
                    width: 100vw;
                    height: 100vh;
                    left: 100%;
                    top: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    z-index: 1;
                    overflow-x: hidden;
                    transition: .5s ease left;
                    &.active {
                        left: 0;
                    }
                    li {
                        &:hover a::after {
                            transform: translate(-50%, -50%) scale(1);
                            letter-spacing: initial;
                        }
                        &:hover a {
                            color: $primaryColor;
                        }
                        a {
                            // color: $primaryColor;
                            font-size: 2.5rem;
                            font-weight: 500;
                            letter-spacing: .2rem;
                            text-decoration: none;
                            color: #fff;
                            text-transform: uppercase;
                            padding: 20px;
                            display: block;
                            &::after {
                                content: attr(data-after);
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%) scale(0);
                                color: rgba(255, 255, 255, 0.06);
                                font-size: 10rem;
                                letter-spacing: 50px;
                                z-index: -1;
                                transition: .3s ease letter-spacing;
                            }
                        }
                    }
                }
            }
        }
    }
}

.main {
    height: 100%;
    width: 100%;
    #hero {
        background: url(../../images/bgFoto.jpg) repeat fixed 50%;
        background-size: cover;
        background-position: top center;
        position: relative;
        z-index: 2;
        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background-color: black;
            opacity: 0.5;
            z-index: -1;
        }
        .hero {
            @include container;
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 50px;
            justify-content: flex-start;
            .cta {
                @include cta;
            }
            h1 {
                font-family: 'Montserrat', sans-serif;
                display: block;
                width: fit-content;
                font-size: 4rem;
                color: transparent;
                position: relative;
                animation: text_reveal .5s ease forwards;
                animation-delay: 1.5s;
                &:nth-child(1) {
                    animation-delay: 1s;
                    span {
                        animation-delay: .5s;
                    }
                }
                &:nth-child(2) {
                    animation-delay: 2s;
                    span {
                        animation-delay: 1.5s;
                    }
                }
                &:nth-child(3) {
                    animation: text_reveal_name .5s ease forwards;
                    animation-delay: 3s;
                    span {
                        animation-delay: 2.5s;
                    }
                }
                span {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 0;
                    background-color: $primaryColor;
                    animation: text_reveal_box 1s ease;
                    animation-delay: .3s;
                }
            }
            // ---- ChatBot ------
            .chat-icon {
                position: fixed;
                right: 50px;
                bottom: 130px;
                cursor: pointer;
                z-index: 1000;
                display: none;
                .fas {
                    margin: 5px;
                    font-size: 50px;
                    color: #fff;
                    text-shadow: 3px 3px 3px $primaryColor;
                }
            }
            .content {
                position: fixed;
                right: 80px;
                bottom: 190px;
                width: 400px;
                height: 50vh;
                background: #a7a4a4;
                z-index: 1000;
                transition: all .3s ease-out;
                transform: scaleY(0);
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                &.active {
                    transform: scaleY(1);
                }
                .header-chat {
                    flex-basis: 10%;
                    padding: 10px 15px;
                    margin: 2px 2px 0px 2px;
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                    justify-content: space-between;
                    display: flex;
                    background-color: $bkColor;
                    color: #fff;
                    .header-tittle {
                        display: flex;
                        h5 {
                            font-size: 1.7rem;
                            margin-right: 20px;
                        }
                        .fas {
                            font-size: 25px;
                        }
                    }
                    .close-btn {
                        margin: auto 10px;
                        cursor: pointer;
                        .fas {
                            font-size: 2.5rem;
                            color: $primaryColor;
                        }
                    }
                }
                .full-chat-block {
                    overflow: hidden;
                    flex-basis: 90%;
                    margin: 0;
                    padding: 0;
                    background-color: #5f5d5d;
                    margin: 2px;
                    border-bottom-left-radius: 20px;
                    border-bottom-right-radius: 20px;
                    .chat-container {
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: end;
                        .chatbox {
                            height: 100px;
                        }
                        .chat-bar-input-block {
                            display: flex;
                            background-color: $bkColor;
                            justify-content: center;
                            justify-items: center;
                            box-sizing: border-box;
                            font-size: 20px;
                            padding: 10px 15px;
                            .userInput {
                                input {
                                    border-radius: 10px;
                                    width: 300px;
                                    height: 40px;
                                    &::placeholder {
                                        padding-left: 10px;
                                    }
                                }
                            }
                            .chat-bar-icon {
                                color: #fff;
                                font-size: 25px;
                                cursor: pointer;
                                margin: auto;
                            }
                        }
                    }
                }
            }
            // ----------------------------------------------
            .fix-button {
                display: none;
                position: fixed;
                right: 50px;
                bottom: 70px;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: rgb(32, 32, 32);
                box-shadow: 0 0 10px rgba(255, 255, 255, 0.25);
                color: #fff;
                cursor: pointer;
                border: none;
                outline: none;
                z-index: 5;
                .sss {
                    font-size: 18px;
                    color: #fff;
                }
                transition:all .3s ease-in;
                &:active {
                    background-color: #fff;
                    .sss {
                        font-size: 20px;
                        color: #000;
                    }
                }
            }
        }
    }
    #service {
        background-color: $bkColor;
        .service {
            @include container;
            flex-direction: column;
            text-align: center;
            max-width: 1200px;
            margin: 0 auto;
            padding: 100px 0;
            width: 80%;
            .service-top {
                max-width: 500px;
                margin: 0 auto;
                p {
                    text-align: center;
                    color: #fff;
                }
                h1 {
                    @include section-title;
                    color: #fff;
                    span {
                        color: $primaryColor;
                    }
                }
            }
            .service-bottom {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                margin-top: 60px;
                .icon {
                    height: 80px;
                    width: 80px;
                    margin-bottom: 10px;
                    .serviceIcon {
                        color: $primaryColor;
                        font-size: 50px;
                    }
                }
            }
            .service-item {
                flex-basis: 80%;
                min-height: 200px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                padding: 20px 30px;
                border-radius: 10px;
                background-image: url(../../images/services-item.png);
                background-size: cover;
                background-position: center;
                margin: 10px 5%;
                position: relative;
                z-index: 1;
                overflow: hidden;
                box-shadow: 0 0 10px rgb(179, 174, 174);
                transition: .3s ease box-shadow;
                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    background-image: linear-gradient(60deg, #000000 0%, #000000 50%);
                    opacity: .9;
                    z-index: -1;
                }
                &:hover {
                    box-shadow: 0 0 5px $primaryColor;
                    position: relative;
                    background-image: linear-gradient(60deg, $primaryColor 50%, $primaryColor 100%);
                    .icon {
                        .serviceIcon {
                            color: #fff;
                        }
                    }
                }
                h2 {
                    font-size: 2rem;
                    color: #fff;
                    text-transform: uppercase;
                }
                p {
                    color: rgb(177, 172, 172);
                    text-align: center;
                }
            }
        }
    }
    #projects {
        background-color: $bkColor;
        .projects {
            @include container;
            flex-direction: column;
            max-width: 1200px;
            margin: 0 auto;
            padding: 100px 0;
            background-color: $bkColor;
            .projects-header {
                h1 {
                    @include section-title;
                    margin-bottom: 50px;
                    color: #fff;
                    span {
                        color: $primaryColor;
                    }
                }
            }
            .all-projects {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 80%;
                .project-item {
                    border-radius: 10px;
                    // background-color: rgb(145, 24, 24);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    width: 100%;
                    height: 100%;
                    margin: 40px 0;
                    a {
                        .project-info {
                            padding: 20px;
                            flex-basis: 50%;
                            width: 100%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-direction: column;
                            background-color: rgb(10, 8, 8);
                            opacity: .6;
                            color: #fff;
                            box-shadow: 0 0 2px rgb(119, 116, 116) inset;
                            border-top-left-radius: 10px;
                            border-top-right-radius: 10px;
                            h1 {
                                font-size: 2.9rem;
                                font-weight: 500;
                            }
                            h2 {
                                font-size: 1.8rem;
                                font-weight: 500;
                                margin-top: 25px;
                            }
                            p {
                                color: #fff;
                                text-align: center;
                            }
                        }
                        .project-img {
                            flex-basis: 50%;
                            // min-height: 300px;
                            width: 100%;
                            overflow: hidden;
                            position: relative;
                            border-bottom-left-radius: 10px;
                            border-bottom-right-radius: 10px;
                            &::after {
                                content: '';
                                position: absolute;
                                left: 0;
                                top: 0;
                                height: 100%;
                                width: 100%;
                                background-image: linear-gradient(-180deg, #000000 0%, #000000 100%);
                                opacity: .4;
                            }
                            img {
                                transform: scale(1.4);
                                transition: .3s ease transform;
                            }
                        }
                    }
                    &:hover {
                        .project-img {
                            img {
                                transform: scale(1);
                            }
                        }
                    }
                }
            }
        }
    }
    #about {
        background-color: $bkColor;
        .about {
            @include container;
            background-color: #878f97;
            flex-direction: column-reverse;
            text-align: center;
            max-width: 1200px;
            margin: 0 auto;
            padding: 100px 20px;
            border-radius: 10px;
            width: 80%;
            .col-left {
                width: 150px;
                height: 260px;
                max-height: 260px;
                max-width: 260px;
                min-width: 200px;
                .about-img {
                    height: 100%;
                    width: 100%;
                    position: relative;
                    border: 0px solid #455724;
                    z-index: 1;
                    // &::after {
                    //     content: '';
                    //     position: absolute;
                    //     left: -43px;
                    //     top: 43px;
                    //     height: 95%;
                    //     width: 95%;
                    //     border: 7px solid #455724;
                    //     z-index: -1;
                    // }
                }
            }
            .col-right {
                width: 100%;
                max-width: 600px;
                h1 {
                    @include section-title;
                    span {
                        color: $primaryColor;
                    }
                }
                h2 {
                    font-size: 1.8rem;
                    font-weight: 500;
                    letter-spacing: 1.2rem;
                    margin-bottom: 10px;
                }
                p {
                    margin-bottom: 20px;
                }
                a {
                    @include cta;
                    margin-bottom: 50px;
                }
            }
        }
    }
    #contact {
        background-color: $bkColor;
        .contact {
            @include container;
            flex-direction: column;
            max-width: 1200px;
            margin: 0 auto;
            h1 {
                @include section-title;
                color: #fff;
                span {
                    color: $primaryColor;
                }
            }
            .contact-items {
                width: 400px;
                .contact-item {
                    width: 80%;
                    padding: 20px;
                    text-align: center;
                    border-radius: 10px;
                    padding: 0;
                    margin: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    box-shadow: 0px 0px 0px #dbd9d92c;
                    transition: .3s ease box-shadow;
                    background-image: linear-gradient(60deg, #2b2929 50%, #2b2929 100%);
                    color: #fff;
                    transition: .6s ease-in-out background-image;
                    &:hover {
                        box-shadow: 0px 0px 0px $primaryColor;
                        background-image: linear-gradient(60deg, $primaryColor 50%, $primaryColor 100%);
                        .icon svg {
                            fill: #fff;
                        }
                    }
                    a {
                        height: 100%;
                        width: 100%;
                        padding: auto;
                        padding-top: 30px;
                        padding-bottom: 30px;
                        svg {
                            width: 35px;
                            height: 35px;
                            fill: $primaryColor;
                        }
                        .contact-info {
                            h1 {
                                font-size: 2.5rem;
                                font-weight: 500;
                                margin-bottom: 15px;
                                text-transform: capitalize;
                            }
                            h2 {
                                font-size: 1.3rem;
                                font-weight: 500;
                                line-height: 2rem;
                                letter-spacing: 1.5px;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
    /* -- Keyframes -- */
    @keyframes hamburger_plus {
        0% {
            opacity: 1;
            transform: scale(1);
        }
        100% {
            opacity: 0;
            transform: scale(1.4);
        }
    }
    @keyframes text_reveal_box {
        50% {
            width: 100%;
            left: 0;
        }
        100% {
            width: 0;
            left: 100%;
        }
    }
    @keyframes text_reveal {
        100% {
            color: #fff;
        }
    }
    @keyframes text_reveal_name {
        100% {
            color: $primaryColor;
            font-weight: 500;
        }
    }
}

@media only screen and (min-width:500px) {
    #header {
        .header {
            .nav-bar {
                .brand {
                    @include brand(3rem);
                }
            }
        }
    }
}

@media only screen and (min-width:768px) {
    .main {
        #hero {
            .hero {
                h1 {
                    font-size: 5rem;
                }
                .cta {
                    @include cta(2.5rem,
                    15px,
                    45px);
                }
            }
        }
        #service {
            .service {
                .service-top {
                    h1 {
                        font-size: 4rem;
                    }
                }
            }
            .service-bottom {
                .service-item {
                    min-height: 300px;
                    flex-basis: 45%;
                    margin: 2.5%;
                }
            }
        }
        #projects {
            .projects {
                .projects-header {
                    h1 {
                        font-size: 4rem;
                    }
                }
                .all-projects {
                    .project-item:nth-child(even) {
                        a {
                            flex-direction: row-reverse;
                        }
                    }
                    .project-item {
                        margin: 50px 0;
                        width: 100%;
                        a {
                            display: flex;
                            flex-direction: row;
                            .project-info {
                                flex-basis: 45%;
                                height: 300px;
                                border-radius: 10px;
                            }
                            .project-img {
                                flex-basis: 55%;
                                height: 300px;
                                border-radius: 10px;
                            }
                        }
                    }
                }
            }
        }
        #about {
            .about {
                flex-direction: row;
                .col-left {
                    width: 600px;
                    height: 400px;
                    padding-left: 60px;
                    .about-img {
                        &::after {
                            left: -44px;
                            top: 44px;
                            height: 95%;
                            width: 95%;
                            border: 10px solid #455724;
                        }
                    }
                }
                .col-right {
                    text-align: left;
                    padding: 30px;
                    h1 {
                        text-align: left;
                    }
                }
            }
        }
        #contact {
            .contact {
                @include container;
                width: 80%;
                flex-direction: column;
                padding: 100px 0;
                align-items: center;
                justify-content: center;
                min-width: 20vh;
                .contact-items {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    margin: 0;
                    margin-top: 40px;
                    .contact-item {
                        width: 30%;
                        margin: 0;
                        flex-direction: column;
                        a {
                            width: 100%;
                            margin: 0;
                            flex-direction: row;
                            .contact-info {
                                width: 100%;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width:1000px) {
    .main {
        #service {
            .service {
                .service-bottom {
                    .service-item {
                        min-height: 200px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width:1200px) {
    #header {
        .header {
            .nav-bar {
                .brand {
                    @include brand(3.5rem);
                }
                .hamburger {
                    display: none;
                }
                .nav-list {
                    ul {
                        position: initial;
                        display: block;
                        height: auto;
                        width: fit-content;
                        background-color: transparent;
                        li {
                            display: inline-block;
                            a {
                                font-size: 1.8rem;
                                &:after {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .main {
        #hero {
            .hero {
                h1 {
                    font-size: 7rem;
                }
            }
        }
        #service {
            .service {
                .service-bottom {
                    .service-item {
                        flex-basis: 22%;
                        margin: 1.5%;
                        min-height: 300px;
                    }
                }
            }
        }
        #projects {
            .projects {
                .all-projects {
                    .project-item {
                        a {
                            .project-info {
                                height: 400px;
                            }
                            .project-img {
                                height: 400px;
                            }
                        }
                    }
                }
            }
        }
    }
}

#footer {
    background-image: linear-gradient(60deg, #000 0%, #000 100%);
    .footer {
        @include container;
        @include brand;
        min-height: 200px;
        flex-direction: column;
        padding: 50px;
        padding-bottom: 10px;
        h2 {
            color: #fff;
            font-weight: 500;
            font-size: 1.8rem;
            letter-spacing: .1rem;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .social-icon {
            display: flex;
            flex-direction: row;
            margin-bottom: 30px;
            color: #fff;
            .social-item {
                @include social-icon;
                height: 50px;
                width: 50px;
                margin: 0 5px;
            }
        }
        p {
            color: #fff;
            font-size: 1.3rem;
        }
    }
}